@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}

.fb-ackit-wrap {
    clear: both;
    margin-top: 40px;
    position: relative;
    bottom: auto;
}

.fb-ackit-wrap .fb-ackit-login-forms {
    display: none;
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.fb-ackit-wrap .fb-ackit-login-forms p {
    padding-bottom: 10px;
}

.fb-ackit-wrap .fb-ackit-login-forms a {
    display: block;
    margin-bottom: 8px;
}

.fb-ackit-wrap .fb-ackit-login-forms .dashicons {
    margin-top: 3px;
}

.login .fb-ackit-login-forms .button-primary {
    float: none;
}

.fb-ackit-wrap .fb-ackit-or {
    margin-bottom: 16px;
    position: relative;
    text-align: center;
}
.fb-ackit-wrap .fb-ackit-or:before {
    background: #E5E5E5;
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.fb-ackit-wrap .fb-ackit-or span {
    background: #fff;
    color: #777;
    position: relative;
    padding: 0 8px;
    text-transform: uppercase;
}

.fb-ackit-wrap .fb-ackit-toggle a {
    text-align: center;
    display: block;
    text-decoration: none;
}

.phone-number-row {
    display: flex;
}

.fb-ackit-wrap .fb-ackit-toggle .default { display: none; }
.fb-ackit-form-display #loginform > p { display: none; }
.fb-ackit-form-display .fb-ackit-toggle .ackit { display: none; }
.fb-ackit-form-display .fb-ackit-toggle .default { display: block; }
.fb-ackit-form-display .fb-ackit-wrap { margin-top: 0; }
.fb-ackit-form-display .fb-ackit-wrap .fb-ackit-login-forms { display: block; }
.login form { padding-bottom: 25px; }

.fb-ackit-wrap.loading {
    opacity:.6;
    pointer-events:none;
    position:relative
}
.fb-ackit-wrap.loading::before {
    height:1em;
    width:1em;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-.5em;
    margin-top:-.5em;
    content:'';
    animation:spin 1s ease-in-out infinite;
    background:url(../images/loader.svg) center center;
    background-size:cover;
    line-height:1;
    text-align:center;
    font-size:2em;
    color:rgba(0,0,0,.75)
}
